* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$lightBlue: #88bdbc;
$darkBlue: #254e58;
$red: #770303;

html {
  font-size: 16px;
}

html,
body,
main,
form {
  width: 100vw;
  background-color: $lightBlue;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

form {
  display: flex;
  min-height: 100vh;
  width: 90%;
  max-width: 500px;
  margin: auto;
  align-items: center;
  justify-content: center;
}

fieldset {
  border: none;
  display: flex;
  width: 100%;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 2.2rem 1.5rem;
  border-radius: 5px;
  color: $lightBlue;
  div {
    width: 100%;
  }

  input {
    width: 100%;
    appearance: none;
    outline: none;
    border: 2px solid $lightBlue;
    padding: 10px;
    color: $darkBlue;
    font-size: 1rem;
  }

  label {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
    font-weight: bold;

    div {
      width: 100%;
      margin: 0 0 5px;
      color: $darkBlue;
      display: flex;
      align-items: center;
    }

    .valid {
      width: 15px;
      margin: 0 0.5rem 0 auto;
      display: none;
    }

    .invalid {
      margin: 0 0.5rem 0 auto;
      color: $red;
      display: none;
      font-size: 0.9rem;
    }
  }

  button {
    align-self: center;
    border: none;
    padding: 1rem 2rem;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
    color: #fff;
    background-color: $darkBlue;
    margin: 1rem 0 3rem;
    cursor: pointer;
  }

  .pwMatch {
    color: $red;
    margin: 5px 0 0;
    font-size: 0.9rem;
    display: none;
  }

  .instructions {
    margin: 0 0 5px;
    color: $darkBlue;

    p {
      font-weight: bold;
    }
  }

  ul {
    width: 100%;
    padding: 5px 5% 0;

    li {
      padding: 0 0 3px;
    }
  }
}
